<p class="text-center text-muted">© Copyright 2020 Online Shopping</p>
<script language="javascript" src="/js/jquery-3.5.1.min.js"></script>
<script language="javascript" src="/js/bootstrap.min.js"></script>

<script language="javascript" src="/js/popper.min.js"></script>
<script language="javascript" src="/js/jquery.dataTables.min.js"></script>
<script language="javascript" src="/js/dataTables.responsive.min.js"></script>
<script language="javascript" src="/js/dataTables.bootstrap4.min.js"></script>
